@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.q1__box {
  background-color: #eff3f4;
  width: 940px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.q1__box__inner {
  background-color: #3274ae;
  width: 230px;
  float: left;
  margin-left: 20px;
  padding: 20px;
}

.q1__text {
  font-size: 16px;
  line-height: 16px;
  background-color: #eaf4ff;
  padding: 20px;
  border: solid #022336 10px;
}

.q1__box__inner .q1__box__inner:first-child {
  margin-left: 0;
}
/* 回答はここに書いてね */
