@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q7__contents {
  width: 225px;
  font-size: 16px;
}

.float__box {
  float: left;
  box-sizing: border-box;
}

.float__box:last-child {
  margin-left: 50px;
}

.table {
  display: table;
}

.table__cell {
  display: table-cell;
  box-sizing: border-box;
  vertical-align: middle;
}

.table__cell:last-child {
  padding-left: 50px;
}

.inline__contents{
  font-size: 0;
}

.inline__box {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.inline__box:last-child {
  margin-left: 50px;
}

.flex__contents {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.flex__box {
  vertical-align: middle;
  box-sizing: border-box;
}

.q7__inline {
  font-size: 0;
}

 .q7__box__fixed {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.q7__box__variable {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}



/* 回答はここに書いてね */
