@charset "UTF-8";

/* 回答はここに書いてね */
.balloon {
  position: relative;
  margin: 0 auto;
  width: 500px;
  padding: 20px;
  border: solid 5px #222;
  border-radius: 30px;
}

.balloon p {
  font-size: 16px;
  line-height: 16px;
}

.balloon::before{
  position: absolute;
  left: 30px;
  bottom: -60px;
  content: "";
  width: 0;
  height: 0;
  border: solid 30px transparent;
  border-top: solid 30px #222;
}

.balloon::after {
  position: absolute;
  left: 37px;
  bottom: -46px;
  content: "";
  width: 0;
  height: 0;
  border: solid 23px transparent;
  border-top: solid 23px #fff;
}

/* 回答はここに書いてね */
