@charset "UTF-8";

/* 回答はここに書いてね */

.contents {
  padding: 20px;
}

.contents__inner {
  display:table;
  width: 100%;
  box-sizing: border-box;
}

.contents__inner .box {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.box__pink {
  background-color: #fdc8b8;
  width: 100px;
}

.box__purple {
  background-color: #e0abd9;
}

.box__blue{
  background-color: #b6d8ed;
  width: 100px;
}

.box__yellow {
  background-color: #e5d32e;
}

.box__red {
  background-color: #ec8f9a;
}

.box__green {
  background-color: #8fdcad;
  width: 500px;
}

.contents__inner:first-child {
  margin-bottom: 30px;
}

/* 回答はここに書いてね */
