@charset "UTF-8";

/* 回答はここに書いてね */
.container {
  display:table;
  width: 100%;
  padding: 20px;
  box-sizing: border-box
}

.container div {
  display: table-cell;
  padding: 20px;
  text-align: center;
}

.box1:first-child {
  background-color: #fdc8b8;
  width: 100px;
}

.box1 {
  background-color: #e0abd9;
}

.box1:last-child {
  background-color: #b6d8ed;
  width: 100px;
}

.box2:first-child {
  background-color: #e5d32e;
}

.box2 {
  background-color: #ec8f9a;
}

.box2:last-child {
  background-color: #8fdcad;
  width: 500px;
}

.container:first-child {
  padding-bottom: 0;
}

/* 回答はここに書いてね */
