@charset "UTF-8";

/* 回答はここに書いてね */
.text__inner {
  text-align: center;
}

.text__align {
  width: 90px;
  padding: 10px;
  background-color: #e6f2ff;
  display: inline-block;
}

.text__margin {
  width: 90px;
  padding: 10px;
  background-color: #e6f2ff;
  margin: 0 auto;
  text-align: center;
}

.table__box {
  display: table;
}

.table__box__inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.table__text {
  padding: 10px;
  background-color: #fff;
  display: inline-block;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex__text {
  padding: 10px;
  background-color: #fff;
}

.position__fixed {
  position: relative;
}

.position__fixed__text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.position__variable__box {
  position: relative;
}

.position__variable__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* 回答はここに書いてね */
