@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.s__btm:first-child {
  margin-left: 0;
}
.m__btm:first-child {
  margin-left: 0;
}

.l__btm:first-child {
  margin-left: 0;
}

.s__btm {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
  margin-left: 10px;
  line-height: 26px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}

.m__btm {
  display: inline-block;
  padding: 0 20px;
  margin-left: 10px;
  line-height: 32px;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.l__btm {
  display: inline-block;
  padding: 0 25px;
  margin-left: 10px;
  line-height: 38px;
  color: #fff;
  border-radius: 7px;
  font-size: 24px;
  cursor: pointer;
}

.name__text:focus {
  box-shadow: 0 0 7px #00BCD4;
}


.s__btm1 {
  background-color: #00bcd4;
}

.s__btm2 {
  background-color: #ff4081;
}

.s__btm3 {
  background-color: #e5e5e5;
}

.btm4 {
  color: initial;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),
  0 1px 4px rgba(0,0,0,.12);
}

.m__btm1 {
  background-color: #00bcd4;
}

.m__btm2 {
  background-color: #ff4081;
}

.m__btm3 {
  background-color: #e5e5e5;
}

.m__btm4 {
  color: initial;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),
              0 1px 4px rgba(0,0,0,.12);
}


.l__btm1 {
  display: inline-block;
  padding: 0 25px;
  margin-left: 10px;
  line-height: 38px;
  background-color: #00bcd4;
  color: #fff;
  border-radius: 7px;
  font-size: 24px;
  cursor: pointer;
}

.l__btm2 {
  background-color: #ff4081;
}

.l__btm3 {
  background-color: #e5e5e5;
}

.l__btm4 {
  color: initial;
  box-shadow: 0 1px 6px rgba(0,0,0,.12),
              0 1px 4px rgba(0,0,0,.12);
}

/* ここからfrom */

.form__box {
  padding: 20px;
  width: 700px;
  margin: 0 auto;
  background-color: #ecf1f2;
}

.form__title {
  position: relative;
  font-weight: bold;
  margin-bottom: 20px;
}

.form__title::before {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  content: "";
}

.title__text {
  display: inline-block;
  position: relative;
  padding-right: 10px;
  background-color: #ecf1f2;
  font-size: 24px;
}

.input__item {
  float: left;
  width: 300px;
}

li {
  margin-top: 20px;
}

li:first-child{
  margin-top: 0;
}

.item__name {
  float: left;
  width: 100px;
  line-height: 21px;
  text-align: right;
}

.symbol {
  margin: 0;
  padding: 0;
  color: #f00;
}

.name__text {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
  font-size: 12px;
  box-sizing: border-box;
  -webkit-appearance: none;
  border: none;
  cursor: pointer;
}

.text__logo {
  position: relative;
  vertical-align: middle;
}

.text__logo:after {
  content: "";
  position: absolute;
  top: 7px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: solid 2px #e5e5e5;
  border-bottom: solid 2px #e5e5e5;
  transform: rotate(45deg);
  pointer-events: none;
}

.right__box {
  float: right;
}

input[type=checkbox],input[type=radio] {
  display: none;
}

.check__box,.gender {
  position: relative;
  padding: 0 0 0 42px;
  cursor: pointer;
  vertical-align: middle;
}

.gender::after {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  display: block;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: solid 1px #ccc;
  content: "";
  border-radius: 50%;
  z-index: 1;
}


input[type=radio]:checked + .gender::before {
  position: absolute;
  top: 50%;
  left: 20px;
  margin-top: -5px;
  width: 8px;
  height: 8px;
  background-color: #00bcd4;
  border-radius: 50%;
  content: "";
  z-index: 2;
}

.check__box::after {
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 5px;
  z-index: 1;
}

.check__box::before {
  position: absolute;
  top: 50%;
  left: 21px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00bcd4;
  border-bottom: 3px solid #00bcd4;
  transform: rotate(45deg);
  content: "";
  z-index: 2;
  opacity: 0;
}

input[type=checkbox]:checked + .check__box::before {
  opacity: 1;
}

.sub__btm {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #00bcd4;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  border: none;
}

.sub__btm:active {
  background-color: #fff;
  color: #00bcd4;
}

.name__text__box {
  width: 180px;
  float: right;
}

.textarea__box {
  width: 380px;
  float: right;
}

.text__area {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  font-size: 12px;
  box-sizing: border-box;
  border: none;
  resize: none;
}

.text__area:focus {
  box-shadow: 0 0 7px #00BCD4;
}


/* 回答はここに書いてね */
